# Welcome to first steps of analysis JN

## Постановка задачи и выяснение общей картины.
### Цель этого проекта - анализ рынка труда по направленям Data Sciense и аналитики

In [2]:
# Common imports
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from tqdm import tnrange, tqdm_notebook
from random import random, randint

# to make this notebook's output stable across runs
np.random.seed(13)

print("Setup Complete!")

Setup Complete!

### Этап первый: получение данных
#### Выгрузка собранного датасета

In [3]:
vacancies = pd.read_csv("/home/aleksey/PycharmProjects/My_Web_Scrapper/dataset/" + 'ds_vacancies_data.csv', index_col=0).T
print("Data is ready!")

Data is ready!

In [4]:
# Посмотрим, что из себя представлет наш собранный датасет
vacancies.head()

,0,1,2,3,4,5,6,7,8
0,Специалист по углубленной аналитике данных (Da...,"А1. Информационные технологии, телеком","Купаловская, Октябрьская, Минск, Интернационал...",1–3 года,"Полная занятость, полный день",з/п не указана,Вакансия опубликована 6 октября 2020 в Минске,Основные задачи:\nИсследование данных из разли...,SPSS\nСтатистический анализ\nStatistica\nАнали...
0.1,Data Scientist,НУР Телеком ОсОО,"Бишкек, улица Юсупа Абдрахманова, 170А",более 6 лет,"Полная занятость, полный день",з/п не указана,Вакансия опубликована 1 октября 2020 в Бишкеке,Задачи:\nпостроение и сопровождение платформ B...,Python\nJava\nSQL\nLinux\nSCALA\nBig Data
0.2,Data Scientist,ООО Артистраж,Москва,1–3 года,"Полная занятость, полный день",от 120 000 до 170 000 руб. до вычета налогов,Вакансия опубликована 6 октября 2020 в Москве,Обязанности:\nОбработка и аналитика входных да...,Python\nR\nMachine Learning\nComputer Vision\n...
0.3,Data Scientist,ООО РАБЛЗ,Москва,1–3 года,"Полная занятость, удаленная работа",от 150 000 до 210 000 руб. до вычета налогов,Вакансия опубликована 7 октября 2020 в Москве,Наша компания разрабатывает аналитические реше...,Data Mining\nPython\nSQL\nPandas
0.4,Data Scientist,ООО КИБЕРБОРЕЯ,Москва,1–3 года,"Полная занятость, полный день",от 120 000 до 170 000 руб. до вычета налогов,Вакансия опубликована 6 октября 2020 в Москве,Обязанности:\nОбработка и аналитика входных да...,Python\nR\nGit\nMachine Learning\nМашинное обу...

В целом, кусок собранного датасета выглядит вполне неплохо. Теперь надо бы привести его в адекватный вид. Зададим более осмысленные названия для столбцов. А также нормальные индексы для строк.

In [5]:
# Взглянем на количество вакансий
print(vacancies.shape)

(295, 9)

Почти 300 вакансий! В целом, этого должно быть достаточно для анализа.

In [6]:
vacancies.columns = ['vacancy_title', 'company_name', 'location', 'required_experience', 'employment_mode', 'vacancy_salary',
              'published_date', 'vacancy_description', 'vacancy_tags']

In [7]:
vacancies.index = [idx for idx in range(1,vacancies.shape[0]+1)]

In [8]:
vacancies.head(5)

,vacancy_title,company_name,location,required_experience,employment_mode,vacancy_salary,published_date,vacancy_description,vacancy_tags
1,Специалист по углубленной аналитике данных (Da...,"А1. Информационные технологии, телеком","Купаловская, Октябрьская, Минск, Интернационал...",1–3 года,"Полная занятость, полный день",з/п не указана,Вакансия опубликована 6 октября 2020 в Минске,Основные задачи:\nИсследование данных из разли...,SPSS\nСтатистический анализ\nStatistica\nАнали...
2,Data Scientist,НУР Телеком ОсОО,"Бишкек, улица Юсупа Абдрахманова, 170А",более 6 лет,"Полная занятость, полный день",з/п не указана,Вакансия опубликована 1 октября 2020 в Бишкеке,Задачи:\nпостроение и сопровождение платформ B...,Python\nJava\nSQL\nLinux\nSCALA\nBig Data
3,Data Scientist,ООО Артистраж,Москва,1–3 года,"Полная занятость, полный день",от 120 000 до 170 000 руб. до вычета налогов,Вакансия опубликована 6 октября 2020 в Москве,Обязанности:\nОбработка и аналитика входных да...,Python\nR\nMachine Learning\nComputer Vision\n...
4,Data Scientist,ООО РАБЛЗ,Москва,1–3 года,"Полная занятость, удаленная работа",от 150 000 до 210 000 руб. до вычета налогов,Вакансия опубликована 7 октября 2020 в Москве,Наша компания разрабатывает аналитические реше...,Data Mining\nPython\nSQL\nPandas
5,Data Scientist,ООО КИБЕРБОРЕЯ,Москва,1–3 года,"Полная занятость, полный день",от 120 000 до 170 000 руб. до вычета налогов,Вакансия опубликована 6 октября 2020 в Москве,Обязанности:\nОбработка и аналитика входных да...,Python\nR\nGit\nMachine Learning\nМашинное обу...

Уже лучше. Но всё же есть ещё одна проблема - описание вакансий и тэги на данный момент являются цельными строками, без нормальной разметки. Исправим.

In [9]:
vacancies.vacancy_tags = vacancies.vacancy_tags.str.split(pat="\n")
vacancies.vacancy_description = vacancies.vacancy_description.str.split(pat="\n")
vacancies.head()

,vacancy_title,company_name,location,required_experience,employment_mode,vacancy_salary,published_date,vacancy_description,vacancy_tags
1,Специалист по углубленной аналитике данных (Da...,"А1. Информационные технологии, телеком","Купаловская, Октябрьская, Минск, Интернационал...",1–3 года,"Полная занятость, полный день",з/п не указана,Вакансия опубликована 6 октября 2020 в Минске,"[Основные задачи:, Исследование данных из разл...","[SPSS, Статистический анализ, Statistica, Анал..."
2,Data Scientist,НУР Телеком ОсОО,"Бишкек, улица Юсупа Абдрахманова, 170А",более 6 лет,"Полная занятость, полный день",з/п не указана,Вакансия опубликована 1 октября 2020 в Бишкеке,"[Задачи:, построение и сопровождение платформ ...","[Python, Java, SQL, Linux, SCALA, Big Data]"
3,Data Scientist,ООО Артистраж,Москва,1–3 года,"Полная занятость, полный день",от 120 000 до 170 000 руб. до вычета налогов,Вакансия опубликована 6 октября 2020 в Москве,"[Обязанности:, Обработка и аналитика входных д...","[Python, R, Machine Learning, Computer Vision,..."
4,Data Scientist,ООО РАБЛЗ,Москва,1–3 года,"Полная занятость, удаленная работа",от 150 000 до 210 000 руб. до вычета налогов,Вакансия опубликована 7 октября 2020 в Москве,[Наша компания разрабатывает аналитические реш...,"[Data Mining, Python, SQL, Pandas]"
5,Data Scientist,ООО КИБЕРБОРЕЯ,Москва,1–3 года,"Полная занятость, полный день",от 120 000 до 170 000 руб. до вычета налогов,Вакансия опубликована 6 октября 2020 в Москве,"[Обязанности:, Обработка и аналитика входных д...","[Python, R, Git, Machine Learning, Машинное об..."

Вот теперь намного лучше! С этим уже можно работать.

Чтобы не испортить полученный датасет, сделаем его копию и работать далее будем с ней.

In [10]:
vacancies_df = vacancies.copy()

In [11]:
vacancies_df.head()

,vacancy_title,company_name,location,required_experience,employment_mode,vacancy_salary,published_date,vacancy_description,vacancy_tags
1,Специалист по углубленной аналитике данных (Da...,"А1. Информационные технологии, телеком","Купаловская, Октябрьская, Минск, Интернационал...",1–3 года,"Полная занятость, полный день",з/п не указана,Вакансия опубликована 6 октября 2020 в Минске,"[Основные задачи:, Исследование данных из разл...","[SPSS, Статистический анализ, Statistica, Анал..."
2,Data Scientist,НУР Телеком ОсОО,"Бишкек, улица Юсупа Абдрахманова, 170А",более 6 лет,"Полная занятость, полный день",з/п не указана,Вакансия опубликована 1 октября 2020 в Бишкеке,"[Задачи:, построение и сопровождение платформ ...","[Python, Java, SQL, Linux, SCALA, Big Data]"
3,Data Scientist,ООО Артистраж,Москва,1–3 года,"Полная занятость, полный день",от 120 000 до 170 000 руб. до вычета налогов,Вакансия опубликована 6 октября 2020 в Москве,"[Обязанности:, Обработка и аналитика входных д...","[Python, R, Machine Learning, Computer Vision,..."
4,Data Scientist,ООО РАБЛЗ,Москва,1–3 года,"Полная занятость, удаленная работа",от 150 000 до 210 000 руб. до вычета налогов,Вакансия опубликована 7 октября 2020 в Москве,[Наша компания разрабатывает аналитические реш...,"[Data Mining, Python, SQL, Pandas]"
5,Data Scientist,ООО КИБЕРБОРЕЯ,Москва,1–3 года,"Полная занятость, полный день",от 120 000 до 170 000 руб. до вычета налогов,Вакансия опубликована 6 октября 2020 в Москве,"[Обязанности:, Обработка и аналитика входных д...","[Python, R, Git, Machine Learning, Машинное об..."

In [12]:
vacancies_df.tail()

,vacancy_title,company_name,location,required_experience,employment_mode,vacancy_salary,published_date,vacancy_description,vacancy_tags
291,Data Scientist,Тинькофф,Москва,не требуется,"Полная занятость, гибкий график",з/п не указана,Вакансия опубликована 17 сентября 2020 в Москве,[Команда рекомендательных систем Тинькофф ищет...,[Python]
292,"Стажер Data Scientist, Группа улучшения бизнес...",EY (Эрнст энд Янг),"Павелецкая, Москва, Садовническая набережная, ...",не требуется,"Полная занятость, полный день",з/п не указана,Вакансия опубликована 15 сентября 2020 в Москве,[Специалисты сбора и аналитической обработки д...,"[Python, Data Mining, Английский язык, SQL, Ст..."
293,Junior Data Scientist,АДВ,Москва,не требуется,"Полная занятость, полный день",з/п не указана,Вакансия опубликована 10 сентября 2020 в Москве,"[В сетевое рекламное агентство, входящее в одн...",NaN
294,Data Scientist на проекты по созданию графа св...,Банк ВТБ (ПАО),Москва,1–3 года,"Полная занятость, полный день",з/п не указана,Вакансия опубликована 6 октября 2020 в Москве,[В управление разработки моделей для корпорати...,"[Python, Математическая статистика, Data Minin..."
295,Data Scientist – моделирование кредитных риско...,«Газпромбанк» (Акционерное общество),Москва,1–3 года,"Полная занятость, полный день",з/п не указана,Вакансия опубликована 7 октября 2020 в Москве,"[Обязанности:, Полный цикл разработки моделей:...","[Python, Математическое моделирование, Математ..."

#### Посмотрим на наши данные повнимательнее

In [13]:
vacancies_df.describe()

,vacancy_title,company_name,location,required_experience,employment_mode,vacancy_salary,published_date,vacancy_description,vacancy_tags
count,295,295,295,295,295,295,295,295,209
unique,174,168,134,4,9,27,110,259,172
top,Data Scientist,Сбер для экспертов,Москва,1–3 года,"Полная занятость, полный день",з/п не указана,Вакансия опубликована 6 октября 2020 в Москве,[Мы ищем специалистов по машинному обучению и ...,[Python]
freq,66,36,78,140,255,263,29,6,6

Интересно! Что можно сказать точно:
1) DS очень нужны в Сбер;

2) Люди нужны преимущественно в Москве (ну а как же, где же ещё?); 

3) Для работадателя интересна схема работы - полная занятость на полный день; 

4) Зарплаты указывать не хотят.

Проверить стоит много чего. Но для начала:
1) Вакансии с одинаковыми зарплатами и описанием - что это такое;

2) В основном ищут людей со средним опытом;

In [14]:
# Посмотрим, что там у нас по зарплатам! 
vacancies_df.vacancy_salary.value_counts()

з/п не указана                                  263
от 200 000 до 280 000 руб. до вычета налогов      3
до 130 000 руб. до вычета налогов                 2
от 120 000 до 170 000 руб. до вычета налогов      2
от 150 000 руб. на руки                           2
от 180 000 руб. на руки                           2
до 200 000 руб. на руки                           1
до 700 000 KZT на руки                            1
до 190 000 руб. до вычета налогов                 1
от 120 000 до 160 000 руб. на руки                1
от 200 000 руб. до вычета налогов                 1
до 150 000 руб. на руки                           1
от 75 000 руб. до вычета налогов                  1
от 200 000 руб. на руки                           1
до 500 000 руб. до вычета налогов                 1
от 65 000 руб. до вычета налогов                  1
от 120 000 до 150 000 руб. на руки                1
от 110 000 руб. на руки                           1
от 83 000 руб. до вычета налогов                  1
от 80 000 до 120 000 руб. на руки                 1
до 405 000 KZT до вычета налогов                  1
до 100 000 руб. до вычета налогов                 1
от 85 000 руб. до вычета налогов                  1
от 180 000 до 200 000 руб. на руки                1
от 150 000 до 210 000 руб. до вычета налогов      1
от 140 000 руб. на руки                           1
от 60 000 руб. на руки                            1
Name: vacancy_salary, dtype: int64

Не густо - информации по зарплатам в явном виде исчезающе мало.

Забавно. А что это у нас за вакансии такие, в которых установленные зарплаты совпадают?

In [15]:
vacancies_df[vacancies_df.vacancy_salary == "от 200 000 до 280 000 руб. до вычета налогов"]

,vacancy_title,company_name,location,required_experience,employment_mode,vacancy_salary,published_date,vacancy_description,vacancy_tags
134,Senior Data Scientist (remote),Agiloft,Новосибирск,3–6 лет,"Полная занятость, полный день",от 200 000 до 280 000 руб. до вычета налогов,Вакансия опубликована 20 сентября 2020 в Новос...,"[Position overview, We are looking for an expe...","[Python, Английский язык, MATLAB, MS PowerPoin..."
139,Senior Data Scientist (remote),Agiloft,Москва,3–6 лет,"Полная занятость, полный день",от 200 000 до 280 000 руб. до вычета налогов,Вакансия опубликована 20 сентября 2020 в Москве,"[Position overview, We are looking for an expe...","[Python, Английский язык, MATLAB, MS PowerPoin..."
141,Senior Data Scientist (remote),Agiloft,Санкт-Петербург,3–6 лет,"Полная занятость, полный день",от 200 000 до 280 000 руб. до вычета налогов,Вакансия опубликована 18 сентября 2020 в Санкт...,"[Position overview, We are looking for an expe...","[Python, Английский язык, MATLAB, MS PowerPoin..."

In [16]:
vacancies_df.loc[[134,139,141], ["vacancy_title", "company_name", "required_experience", "vacancy_description", 
                                 "vacancy_tags"]]

,vacancy_title,company_name,required_experience,vacancy_description,vacancy_tags
134,Senior Data Scientist (remote),Agiloft,3–6 лет,"[Position overview, We are looking for an expe...","[Python, Английский язык, MATLAB, MS PowerPoin..."
139,Senior Data Scientist (remote),Agiloft,3–6 лет,"[Position overview, We are looking for an expe...","[Python, Английский язык, MATLAB, MS PowerPoin..."
141,Senior Data Scientist (remote),Agiloft,3–6 лет,"[Position overview, We are looking for an expe...","[Python, Английский язык, MATLAB, MS PowerPoin..."

In [17]:
vacancies_df.loc[134].vacancy_description == vacancies_df.loc[139].vacancy_description == vacancies_df.loc[141].vacancy_description

True

Да, это одна и та же вакансия, по сути.

Окей, едем дальше.

In [18]:
vacancies_df[vacancies_df.vacancy_salary == "от 120 000 до 170 000 руб. до вычета налогов"]

,vacancy_title,company_name,location,required_experience,employment_mode,vacancy_salary,published_date,vacancy_description,vacancy_tags
3,Data Scientist,ООО Артистраж,Москва,1–3 года,"Полная занятость, полный день",от 120 000 до 170 000 руб. до вычета налогов,Вакансия опубликована 6 октября 2020 в Москве,"[Обязанности:, Обработка и аналитика входных д...","[Python, R, Machine Learning, Computer Vision,..."
5,Data Scientist,ООО КИБЕРБОРЕЯ,Москва,1–3 года,"Полная занятость, полный день",от 120 000 до 170 000 руб. до вычета налогов,Вакансия опубликована 6 октября 2020 в Москве,"[Обязанности:, Обработка и аналитика входных д...","[Python, R, Git, Machine Learning, Машинное об..."

In [19]:
for e1 in vacancies_df.loc[3].vacancy_description:
    for e2 in vacancies_df.loc[5].vacancy_description:
        if e1 == e2:
            print(e1)

Обязанности:
Обработка и аналитика входных данных, их дальнейшая визуализация;
Обработка разовых запросов;
Разработка методик расчета для нестандартных показателей работы проектов;
Построение и контроль работы обучаемой модели для обработки входящих данных;
Построение системы для выявления аномалий в полученных данных;
Требования:
Опыт работы от 1 года
R или Python;
Опыт работы по анализу данных;
Знание и понимание алгоритмов машинного обучения;
Знание и понимание математического моделирования и математического анализа;
Опыт работы с различными базами данных;
Технический английский
Условия:
График 5/2, 11:00-20:00

Во дела! Компании разные, а описания почти одинаковые. Да и вообще вакансии уж очень подозрительно похожи.

In [20]:
vacancies_df[vacancies_df.vacancy_salary == "от 180 000 руб. на руки"]

,vacancy_title,company_name,location,required_experience,employment_mode,vacancy_salary,published_date,vacancy_description,vacancy_tags
52,Data Scientist (Azure Team),SEMrush,"Московские ворота, Санкт-Петербург, Заставская...",1–3 года,"Полная занятость, полный день",от 180 000 руб. на руки,Вакансия опубликована 1 октября 2020 в Санкт-П...,[SEMrush – продуктовая IT-компания. С 2008 год...,"[Python, Linux, Git, SQL]"
131,ML Engineer / Data Scientist (DS Team),SEMrush,"Московские ворота, Санкт-Петербург, Заставская...",1–3 года,"Полная занятость, полный день",от 180 000 руб. на руки,Вакансия опубликована 25 сентября 2020 в Санкт...,[SEMrush – продуктовая IT-компания. С 2008 год...,"[Python, Git, SQL, Английский язык, Spark]"

Разные, однако. Хотя одна и та же компания. Разные отделы/команды.

In [21]:
vacancies_df[vacancies_df.vacancy_salary == "до 130 000 руб. до вычета налогов"]

,vacancy_title,company_name,location,required_experience,employment_mode,vacancy_salary,published_date,vacancy_description,vacancy_tags
259,"Senior Data Scientist (обработка текстов, маши...",ГК «ВИЗАВИ Консалт»,Москва,1–3 года,"Полная занятость, полный день",до 130 000 руб. до вычета налогов,Вакансия опубликована 18 сентября 2020 в Москве,[R&D крупного НПЦ приглашает к себе в команду ...,"[Английский — B1 — Средний, Python, SQL]"
268,"Senior Data Scientist (обработка текстов, маши...",ГК «ВИЗАВИ Консалт»,Сочи,1–3 года,"Полная занятость, полный день",до 130 000 руб. до вычета налогов,Вакансия опубликована 14 сентября 2020 в Сочи,[R&D крупного НПЦ приглашает к себе в команду ...,"[Английский — B1 — Средний, Python, SQL]"

In [22]:
vacancies_df.loc[259].vacancy_description == vacancies_df.loc[268].vacancy_description

True

Одна и та же вакансия.

Ну, и последняя подозрительная парочка.

In [23]:
vacancies_df[vacancies_df.vacancy_salary == "от 150 000 руб. на руки"]

,vacancy_title,company_name,location,required_experience,employment_mode,vacancy_salary,published_date,vacancy_description,vacancy_tags
14,Data Scientist / Machine Learning Engineer,Web Interactive World,"Кузнецкий мост, Лубянка, Площадь Революции, Те...",1–3 года,"Полная занятость, полный день",от 150 000 руб. на руки,Вакансия опубликована 6 октября 2020 в Москве,[Приглашаем специалиста по Data Science для ра...,NaN
174,Data Scientist,Antal Russia,"Тверская, Москва, Трехпрудный, 9, стр.1б",1–3 года,"Полная занятость, полный день",от 150 000 руб. на руки,Вакансия опубликована 16 сентября 2020 в Москве,[We are looking for a Data Scientist for our c...,"[Python, SQL, R, Big Data, Data Analysis, Busi..."

Однако-однако! Ну вот так вот совпало, что зарплаты одинаковые. Что уж поделать?

### Теперь можно проверять более сложные гипотезы.

In [24]:
h = vacancies_df.groupby(["required_experience", "employment_mode"]).aggregate({"vacancy_title" : "count"})

In [25]:
h

                                                                        vacancy_title
required_experience employment_mode
1–3 года            Полная занятость, гибкий график                                 6
                    Полная занятость, полный день                                 127
                    Полная занятость, удаленная работа                              4
                    Проектная работа/разовое задание, удаленная работа              1
                    Частичная занятость, удаленная работа                           2
3–6 лет             Полная занятость, гибкий график                                11
                    Полная занятость, полный день                                  81
                    Полная занятость, удаленная работа                              3
более 6 лет         Полная занятость, гибкий график                                 5
                    Полная занятость, полный день                                  16
не требуется        Полная занятость, гибкий график                                 2
                    Полная занятость, полный день                                  31
                    Стажировка, гибкий график                                       3
                    Стажировка, полный день                                         1
                    Стажировка, удаленная работа                                    1
                    Частичная занятость, гибкий график                              1